.container {
  margin: 0 auto;
  max-width: 720px;
  width: 90%;

  @media (min-width: 600px) {
    width: 88%;
  }
}

main,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 720px;
  width: 90%;

  @media (min-width: 600px) {
    width: 88%;
  }
}

.favicon {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.nav {
  overflow: auto;
  letter-spacing: 0.05em;

  &-container {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    font-family: "DMMono", monospace;
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: .2rem;
    letter-spacing: normal;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: $monospaced;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    color: $default-color;
    padding: 0;
    font-family: $monospaced;
  }

  a {
    color: $blue;
    font-family: $monospaced;
    font-weight: 500;
    &:visited {
      color: $blue;
    }
    &:hover,
    &:focus {
      color: $blue;
      text-decoration: underline;
    }
    &:active {
      color: $active;
    }
  }
  
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }
  }
}

footer {
  font-family: $sans-serif;
  padding: 2rem 0;
  width: 100%;
  border-top: .5px solid $grey-2;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  width: 90%;

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: end;
    text-align: left;
    width: 88%;
    max-width: 100%;
  }
}

.footer-copyright {
  order: 2;
  margin: 0;
  @media (min-width: 600px) {
    grid-column: 1;
    grid-row: 2;
    order: unset;
  }
}

.footer-support {
  order: 1;
  margin: 0 0 0.5rem 0;
  @media (min-width: 600px) {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    margin: 0 0 0.5rem 0;
    order: unset;
  }
}

.footer-license {
  order: 3;
  margin: 0;
  @media (min-width: 600px) {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    order: unset;
  }
}
